
input {
    text-align: center;
    font-family: 'Sriracha', cursive;   
    border-top: none;
    border-left: none;
    border-right: none; 
    border-radius: 0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.container {
     width: 100%;
}

form {
    margin-top:20px;
    width:350px;
    background-color: white;
    padding: 10px;

}

.add-exercise{
    margin: auto;
    max-width:100%;
}

.exercise-button{
    width: 155px;
    display: block;
    margin: auto;
    border: none;
}

.btn-outline-primary {
    font-family: 'Sriracha', cursive;  
    font-size:17px;
  
}

