    <div class="add-exercise">
        <button   (click)="addNewExercise=!addNewExercise" class="btn btn-outline-primary exercise-button">
           Create exercise
        </button>
        <form *ngIf="addNewExercise" #f="ngForm" (ngSubmit)="addExercise(f.value)">
                 <div class="form-group">
                     <input ngModel  #exerciseName="ngModel" name="exercise" class="form-control" type="text" placeholder="Exercise name" required>
                  </div>         
            <button style="margin-top:30px;" [disabled]="!f.valid" type="submit" class="btn btn-outline-primary btn-block ">Add exercise</button>          
         </form>
    </div>




