<div class="container">
    <form #f="ngForm" (ngSubmit)="resetPassword(f.value)">
        <div class="form-group">
            <label for="newPassword">newPassword</label>
            <input #newPassword="ngModel" ngModel name="newPassword" type="password" class="form-control" id="password" aria-describedby="newPassword" required>
            <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">Please provide a password</div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">confirm-password</label>
            <input #confirmPassword="ngModel" ngModel name="confirmPassword" type="password" class="form-control" id="confirmPassword" aria-describedby="confirmPassword" required>
            <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">Please provide a password</div>
        </div>
        <button type="submit" class="btn btn-outline-info">Login</button>
    </form>
</div>
