<div class="exercise-container">
        <div 
            data-toggle="modal" data-target="#editExerciseModal"
        (click)="changeExercise(ex,k)" 
        *ngFor="let ex of workout.exerciseList;index as k" 
        class="exercise-box p-0"
        [class.selected]="selectedExercise == ex">
                <span>{{ex.name}}</span>
        </div>
</div>
<div *ngIf="exercise" class="modal m-0 fade" data-backdrop="static" data-keyboard="false" id="editExerciseModal" tabindex="-1" role="dialog" aria-labelledby="editExerciseModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                    <div class="m-0" id="header-name">{{exercise.name}}</div>
                    <button (click)="removeExercise()" type="button" class="btn btn-sm red remove-button" data-dismiss="modal">delete</button>
                    <button type="button" class="btn btn-sm blue dismissModalButton"  (click)="dismissModal()" aria-label="Close">X</button>
            </div>
            <div class="modal-body"> 
                <edit-exercise [workout]="workout" [exercise]="exercise"></edit-exercise>
            </div>
            <div class="modal-footer d-flex justify-content-around">
                <button data-dismiss="modal"  [disabled]="!exercise.name" class="btn btn-sm red update-exercise-button">done</button>
            </div>
        </div>
    </div>
</div>


