
.exercise-container{
    max-width: 100%;
    min-width:400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.exercise-box {
    max-width:300px;
    min-width:100px;
    margin:15px;
    font-size: 15px;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background: #ffffff;
    text-align:center;
    color: #1a1a1a;
}
.exercise-box:hover {
    color: #ff4364;

}
.modal-content {
    max-width:420px;
    margin: 0 auto;
}

.selected {
    color:#ff4364;
}
.modal-header {
    border:none;
}
.header {
    width:100%;
}
.header span {
    display:flex;
    align-items: center;
}
.modal-footer{
    border: none;
}
.modal-body {
    padding:10px;
}

.remove-button {
    display:block;
    font-size:15px;
    font-family: 'Sriracha', cursive;
    color: #ff4364;
}
.update-exercise-button {
    display:block;
    font-size:15px;
    font-family: 'Sriracha', cursive;
    color: #ffffff;
    background:#ff4364;
    border: 2px solid #ff4364 !important;
}
.dismissModalButton {
    font-family: 'Sriracha', cursive;
    font-size:17px;
    color: #ffffff;
    background:#6466ff;
    border: 2px solid #6466ff !important;
    
}
.blue:active, .blue:focus, .blue:hover {
    box-shadow: 0 0 0 2px #6466ff !important;
    
} 
.red:active, .red:focus, .red:hover {
    box-shadow: 0 0 0 2px #ff4364 !important;
    
} 
#header-name {
    font-size:18px;
    font-family: 'Sriracha', cursive;
    width: 40%;
    display:block;
}




