nav{
    margin:auto;
    border-bottom: 2px solid #f8f9fa;
    background-color: white;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1)
}
.navbar-brand {
    font-size:28px;
    font-family: 'Sriracha', cursive;
    font-weight: 600;
}
.navbar-brand span {
    display: block;
    padding-left:10px;
    padding-right:10px;
    color: #ff4364;
    border-radius: 20px;
    text-decoration-color: white;
}
.navbar-brand a {
    text-decoration: none;
    color: white;
}

.dropdown-item {
    font-size:15px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.create-workout-button {
    width:140px;
    display: block;
    border: 2px solid #ff4364 !important;
    font-weight: 400;
    color: #000000;
    font-size:13px;
    align-items: center;
    border-radius:7px;
    font-family: 'Roboto', sans-serif;
}
.saved-workout-button {
    width:140px;
    display: block;
    font-weight: 400;
    color: #000000;
    font-size:13px;
    align-items: center;
    border-radius:7px;
    font-family: 'Roboto', sans-serif;
}
.favourite-workout-button {
    width:140px;
    display: block;
    font-weight: 400;
    color: #000000;
    font-size:13px;
    align-items: center;
    border-radius:7px;
    font-family: 'Roboto', sans-serif;
}
 .btn:active, .btn-focus, .btn:hover {
    box-shadow: 0 0 0 2px  #ff4364 !important
}
.material-icons {
}
@media (min-width: 992px) { 
    .workout-button-li{
        margin-left:30px;
    }
    .small-screen {
        display: none;
    }
}
@media (max-width: 992px) { 
    .large-screen {
        display: none;
    }
    .shortcuts {
        display: none;
    }
 }