input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    text-align: center;
}
input {
    text-align: center;
}
.container-workouts {
    flex-wrap: wrap-reverse;
}
.workout-box{
    margin:20px;
}
.card {
    width: 400px;  
    margin:auto;
    border: none;
    border-radius:0px;
    background: #FFFFFF;
    border:2px solid orange;

}
.card-header {
    width:100%;
    margin:auto;
    font-family: 'Sriracha', cursive;
    background: #FFFFFF;
    font-size:15px;
    text-align: center;
    border-bottom:1px solid #ff80bf;

}
.superset-ex-container{
    width:  100%;
    margin: 0 auto;
}

.superset-ex-list{
    width: 50%;
}
.superset-data-list {
    width:50%;
    border-left:1px solid #f2f2f2;

}

.superset-box{
    display:flex;
    width:100%;
    margin: 0 auto;
}
.ex-name {
    font-size:16px;
    font-family: 'Sriracha', cursive; 
    text-align:start;
}
.ex-name:hover {
    color:#ff80bf;
}
.ex-name span {
    display:block;
    word-wrap: break-word;
    overflow: hidden;
}
.sets {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;

}
.reps {
    display: flex;
    max-width:100%;
    margin: auto;
    justify-content: flex-start;

}
.reps span {
    display:block;

}
.remove-ex-button {
    display:block;
    border: none;
    font-size:17px;
    font-family: 'Sriracha', cursive;
 }

#header-name {
    font-size:17px;
    font-family: 'Sriracha', cursive;
    display: block;
    max-width:80%;
}

.edit-ex-container button {
    display: block;
    margin:10px auto;
}
.edit-button {
    border: none;
    display: block;
    margin: 0 auto;
}



