<div class="container">
  <div class="container-workouts d-flex justify-content-center">
    <div class="workout-box" *ngFor="let workout of workouts">
      <div *ngIf="workout.superSetList.length>0" class="card workout-card p-0">
        <div class="card-header p-2">
          <div class="workout-header row no-gutters align-items-center justify-content-center">
              <div class="col-3">
                  <span>{{ workout.name }}</span>
              </div>
              <div class="col-5">
                  <span>{{ workout.timestamp | date: 'EE, MMM d' }}</span>   
              </div>
              <div class="col-4">
                  <span>{{ workout.category }}</span>      
              </div>
          </div>
        </div>
        <div class="card-body p-2">
            <div *ngFor="let superset of workout.superSetList; index as s" class="superset-box mb-1">
                <div class="superset-ex-container d-flex">
                    <div class=" superset-ex-list p-0">
                        <div *ngFor="let ex of superset.exerciseList" class=" superset-ex-box p-0">
                            <div class="row no-gutters p-0">
                                <div class="col flex-column">
                                    <div class="row no-gutters">
                                        <div class="col align-self-center">
                                            <div class="ex-name " type="button" (click)="selectExercise(ex)" data-toggle="modal" data-target="#editSuperSetExerciseModal">
                                                <span>{{ex.name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="ex.units !='bw' && ex.units !='miles' && ex.units !='km'" class="sets mb-2">
                                        <div class="reps" *ngFor="let set of ex.sets">
                                            <span>{{set.reps}} reps</span>
                                            <span>@ {{ set.weight }}</span>
                                            <span>{{ ex.units }}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="ex.units=='bw'" class="sets mb-2">
                                        <div class="reps" *ngFor="let set of ex.sets">
                                          <span class="mr-1">reps</span>
                                          <span> {{set.reps}} </span>
                                        </div>
                                    </div>
                                    <div class="sets mb-2" *ngIf="ex.units =='miles' || ex.units =='km' ">
                                        <div class="reps" *ngFor="let set of ex.sets;index as i">
                                            <span>round {{i+1}} -</span>
                                            <span class="ml-1">{{set.reps}} </span>
                                            <span class="ml-1">{{ ex.units }}</span>                                            
                                        </div>
                                    </div>
                                    <div class="reps mb-2">
                                        <span *ngIf="ex.time.hours>0" class="mr-1">{{ex.time.hours}}h</span>
                                        <span *ngIf="ex.time.minutes>0" class="mr-1">{{ex.time.minutes}}min</span>
                                        <span *ngIf="ex.time.seconds>0" class="mr-1">{{ex.time.seconds}}sec </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column superset-data-list align-items-center justify-content-center">
                        <div id="rounds" class="d-flex">
                            <span>rounds {{superset.rounds}}</span>
                        </div>
                        <div id="time" class="d-flex">
                            <div class="d-flex justify-content-center">
                                <div *ngIf="superset.time.hours>0" class="d-flex">
                                    <span> {{superset.time.hours}}</span>
                                    <span>h</span>
                                </div>
                                <div *ngIf="superset.time.minutes>0" class="time-text ml-1">
                                    <span> {{superset.time.minutes}}</span>
                                    <span>min</span>
                                </div>
                                <div *ngIf="superset.time.seconds>0" class="d-flex ml-1">
                                    <span> {{superset.time.seconds}}</span>
                                    <span>sec</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer p-1">
          <button [routerLink]="['/create-workout/', workout.id]" class="btn  btn-outline-primary shadow-none edit-button">Edit workout</button>
        </div>
      </div>        
    </div>
  </div>
</div>

