<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="header-title">
                <h5 class="card-title">workout</h5>
            </div>
        </div>
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="submitWorkout(f.value)">
                <div class="form-group">        
                    <input style="height:40px;" #workoutName [(ngModel)]="workout.name" class="form-control no-border"  type="text" placeholder="workout name" name="workoutName">  
                </div>
                <div class="form-group">
                    <select (change)="onSelectCategory($event.target.value)"  #workoutCategory [(ngModel)]="workout.category" name="workoutCategory" class="form-control"  id="workoutCategory">
                        <option></option>
                        <option *ngFor="let category of categories" >{{ category.name }}</option>
                        <option value="">Add a new category</option>
                    </select>                    
                </div>
                <div *ngIf="newCategory" class="form-group">        
                    <input style="height:40px;" #customCategory ngModel class="form-control no-border"  type="text" placeholder="new category" name="customCategory">  
                </div>                
                <div  class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="select date" name="dp" (dateSelect)="setDate($event)" [(ngModel)]="workout.date" ngbDatepicker #d="ngbDatepicker" required>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><span style="display:block;" class="material-icons md-18">schedule</span></button>
                      </div>
                    </div>
                  </div>
                  
                <div class="d-flex p-2 workout-buttons">
                    <button [disabled]="!workout.superSetList.length>0 && !workoutId" type="submit" class="btn btn-outline-primary workout-button">Submit</button>
                    <button *ngIf="workout.superSetList.length>0 && workoutId" type="submit"  class="btn btn-outline-primary workout-button">Update</button>
                    <button [disabled]="!workoutId" (click)="deleteWorkout()" type="button"  class="btn btn-outline-primary workout-button">remove</button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <add-exercise style="margin:auto" [workout]="workout"></add-exercise>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="header-title">
                <h5 class="card-title">workout exercises</h5>
            </div>
            <button *ngIf="!showExercises" (click)="showExercises = !showExercises" type="button"  class="btn btn-outline-primary showExercises">Show exercises</button>
            <button *ngIf="showExercises" (click)="showExercises = !showExercises" type="button"  class="btn btn-outline-primary showExercises">Hide exercises</button>
        </div>
        <div class="card-body">
            <div *ngIf="showExercises" class="row">
                <edit-exercises style="margin:auto" [workout]="workout"></edit-exercises>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="header-title">
                <h5 class="card-title">design workout</h5>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body">
                <create-super-set style="margin:auto" [workout]="workout"></create-super-set>
            </div>
        </div>
    </div>
</div>

