<div class="container">
    <div class="notes">
            <div class="form-group notesForm">
                <textarea style="text-align: center;" [(ngModel)]="noteMessage" #note class="form-control" placeholder="" rows=2 name="note"></textarea>
                <button type="button"  (click)="addNote(note.value)" class="btn btn-outline-primary">add</button> 
            </div>
    </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let note of superset.notes;index as n">
                    <span>{{note}}</span>
                    <button type="button" (click)="removeNote(superset,n)" class="removeNoteButton btn btn-outline-primary">X</button>
            </li>
        </ul>
</div>
