<button type="button" data-toggle="modal" data-target="#confirmationModal"  class="btn shadow-none btn-sm workout-delete-button">
Delete 
</button> 
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <h1>Are you sure you want to delete the workout?</h1>
        </div>
        <div class="modal-footer d-flex justify-content-around border-0">
            <button type="button"  class="btn btn-sm red dismissModalButton-blue" data-dismiss="modal">No</button>
            <button type="button" (click)="deleteWorkout()" class="btn btn-sm red dismissModalButton-red" data-dismiss="modal">Delete</button>
        </div>
    </div>
</div>
</div>

            
            
            
            

