.mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.cdk-global-overlay-wrapper {
    z-index: 1000 !important;
}
.cdk-overlay-container {
    z-index: 9999 !important;
  }
input {
    text-align: center;
}
.modal-header {  
    border: none;
}
.dismissModalButton {
    font-family: 'Sriracha', cursive;
    font-size:17px;
    color: #ffffff;
    background:#6466ff;
    border: 2px solid #6466ff !important;
}

.modal-header span{
    display: flex;
}
#header-info {
    font-family: 'Sriracha', cursive;
    font-size:17px;  
    width:35%;
    
}
.modal-footer {
    border: none;
}
.designWorkoutButton {
    display:block;
    width: 160px;
    font-size:15px;
    font-weight: 500;
    border-radius:7px;
    color: #6466ff;
    font-family: 'Roboto', sans-serif;
}
.designWorkoutButton:hover {
    background: #f2f2f2;
}
.designWorkoutButton:active, .designWorkoutButton:focus {
    background:  #d9d9d9;
}
.red:active, .red:focus, .red:hover {
    box-shadow: 0 0 0 2px  #ff4364 !important;
}
.blue:active, .blue:focus, .blue:hover {
    box-shadow: 0 0 0 2px  #6466ff !important;
}

.design-container {
    display:flex;
    justify-content: space-between;
}
.exercise-container{
    width: 35%;
    margin: auto;
}
.workout-container{
    width: 60%;
}
.superset-container{
    width: 100%;
    margin: 0 auto;
    border-bottom:1px solid #cccccc;
}
.superset-container:first-child {
}
.exercise-list {
    max-width:100%;
}
.exercise-box {
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Sriracha', cursive; 
    font-size:15px;    
    border-bottom: 1px solid #6466ff;
    text-align: center;
}
.exercise-box:last-child {
    border: none;
  }

.workout-list {
    min-height: 120px;
    padding:5px;  
    width:80%;
    margin: 0 auto;
    border-radius: 4px;

}
.supersets {
    min-height: 100px;
    border-radius:7px

}
.drop-box {
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Sriracha', cursive; 
    text-align:center;
}
.exercise-box:hover {
    color:#ff4364
}
.drop-box:hover {
    color:#ff4364;
}
.add-superset-button {
    display:block;
    width: 120px;
    font-size:14px;
    font-weight: 500;
    background: #ff4364;
    border: 2px solid #ff4364 !important;
    border-radius:7px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.drag-text{
    display:flex;
    padding:5px;
    justify-content: center;
    font-size:15px;
    font-family: 'Sriracha', cursive; ;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(255, 67, 100, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
.cdk-drag-placeholder {
    opacity: 0;    
  }
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.exercise-list.cdk-drop-list-dragging .exercise-box:not(.cdk-drag-placeholder) .dropp-box:not(.cdk-drag-placeholder)  {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    position: fixed;
    z-index: 9999 !important;

  }
.drag-text{
    display:flex;
    padding:10px;
    justify-content: center;
}
.drag-text span {
    display: block;
    text-align: center;
}
.form-block{
    width:100%;
}
.add-exercise-button {
    display:block;
    width: 120px;
    font-size:12px;
    font-weight: 500;
    border-radius:7px;
    color: #6466ff;
    font-family: 'Roboto', sans-serif;
    margin:0 auto;
}

.remove-exercise {
    margin:auto;
    width: 50%;
}
.remove-ex-button {
    display:block;
    font-size:16px;
    font-weight: 500;
    color: #ff4364;
    font-family: 'Sriracha', cursive; 
 }

.superset-ex-list{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
}

.superset-ex-box{
    width:100%;
}
.ex-name {
    font-size:16px;
    font-family: 'Sriracha', cursive; 
}
.ex-name span {
    display:block;
    word-wrap: break-word;
    overflow: hidden;
}
.sets {
 width:75%;
}

.reps span {
    display:inline-block;
    font-size: 13px;
    font-family: 'Sriracha', cursive; 
}
.remove-exercise {
    width:25%;
}
.remove-ex-button {
    display: block;
    font-size: 13px;
    font-family: 'Sriracha', cursive; 
}




