    <a href="" data-toggle="modal" role="button" data-target="#designWorkoutModal" *ngIf="workout.exerciseList.length>0"  (click)="addSuperSet=!addSuperSet" class="shadow-none btn btn-sm p-2 designWorkoutButton">
    Design workout
    </a>
    <div class="modal fade" id="designWorkoutModal" tabindex="-1" role="dialog" aria-labelledby="designWorkoutModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <div id="header-info" class="d-flex justify-content-start">
                        <span>Design workout</span>
                    </div>
                    <button type="button" class="btn btn-sm blue dismissModalButton" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <form @expandCollapsed  #f="ngForm"  (ngSubmit)="createSuperSet(f.value)">
                        <div class="design-container" cdkDropListGroup>
                            <div class="exercise-container">
                                <div  
                                    cdkDropList
                                    [cdkDropListData]="workout.exerciseList"
                                    (cdkDropListDropped)="dragDelete($event)"
                                    class="exercise-list">
                                    <div
                                    cdkDrag
                                    (click)="selectExercise(ex)"
                                        *ngFor="let ex of workout.exerciseList;index as j" class="exercise-box">
                                        {{ ex.name }} 
                                    </div>
                                </div>
                            </div>
                            <div class="workout-container">
                                <div 
                                    cdkDropList
                                    [cdkDropListData]="tempSuperSetList"
                                    (cdkDropListDropped)="drop($event)"
                                    class="workout-list">
                                    <div *ngIf="tempSuperSetList.length==0" class="drag-text">
                                        <span>Click on exercise to add</span>
                                    </div>
                                    <div
                                    @selectExercise
                                    cdkDrag
                                    (click) = "removeExercise(k)"
                                        *ngFor="let e of tempSuperSetList;index as k" class="drop-box">
                                        {{ e.name }}
                                    </div>
                                    <div class="row mt-2 justify-content-center">
                                        <button [disabled]="tempSuperSetList.length==0" type="submit" class="btn btn-sm red add-superset-button">
                                            <span>Add superset</span>
                                        </button> 
                                    </div>
                                </div>
                                <div class="supersets p-0">
                                    <div *ngFor="let superset of workout.superSetList; index as s" class="superset-container p-1">
                                        <div class="p-1 add-ex-container">
                                            <button *ngIf="tempSuperSetList.length==1" (click)="addExerciseToSet(s)" class="btn btn-sm blue add-exercise-button">Add exercise</button>
                                        </div>
                                        <div class="superset-ex-list p-0">
                                            <div *ngFor="let ex of superset.exerciseList" class="superset-ex-box p-1">
                                                <div class="p-0 ex-name row align-items-center no-gutters justify-content-between">
                                                    <div class="col-10 p-0 align-self-start">
                                                        <span>{{ex.name}}</span>
                                                    </div>
                                                    <div class="col-2 p-0">
                                                        <button (click)="removeExerciseFromSet(superset,ex,s)" class="btn btn-sm red remove-ex-button">X</button>
                                                    </div>
                                                </div>
                                                <div class="p-0 d-flex justify-content-between">
                                                    <div *ngIf="ex.units !='bw' && ex.units !='miles' && ex.units !='km'" class="d-flex flex-column align-items-start justify-content-center sets">
                                                        <div class="d-flex justify-content-start reps" *ngFor="let set of ex.sets">
                                                            <span>{{set.reps}} reps</span>
                                                            <span>@ {{ set.weight }}</span>
                                                            <span>{{ ex.units }}</span>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="ex.units=='bw'" class="sets">
                                                        <div class="reps" *ngFor="let set of ex.sets">
                                                            <span>reps</span>
                                                            <span>{{set.reps}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="sets" *ngIf="ex.units =='miles' || ex.units =='km' ">
                                                        <div class="reps" *ngFor="let set of ex.sets">
                                                            <span>round </span>
                                                            <span>{{set.reps}} </span>
                                                            <span>- {{ set.weight }}</span>
                                                            <span>{{ ex.units }}</span>                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="d-flex justify-content-center modal-footer p-2">
                    <button type="button" class="btn btn-sm dismissModalButton" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>                         

