<div class="d-flex justify-content-around superset-data-container">
            <button type="button" data-toggle="modal" data-target="#setRoundsModal"  class="btn btn-sm blue border-0 shadow-none justify-content-center align-items-center d-flex flex-row rounds-button">
            <span class="material-icons">replay</span>
            <span >Set rounds</span>
    </button> 
</div>
<div class="modal fade" id="setRoundsModal" tabindex="-1" role="dialog" aria-labelledby="setRoundsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header p-1 d-flex justify-content-end">
                <button type="button" class="btn btn-sm dismissModalButton-blue blue" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngFor="let superset of workout.superSetList; let last = last " [ngClass]="{'last-child': last}" class="d-flex justify-content-center superset-rounds">
                    <div class="superset-ex-container d-flex">
                        <div class="superset-ex-list pb-3">
                            <div *ngFor="let ex of superset.exerciseList" class="superset-ex-box p-0">
                                <div class=" row no-gutters p-1">
                                    <div class="ex-name">
                                        <span>{{ex.name}}</span>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="rounds-box" class="d-flex align-items-center justify-content-center">
                        <span class="p-1">Rounds</span>
                        <input type="number" [(ngModel)]='superset.rounds' (change)='setRounds(superset,rounds.value)' class="form-control ml-2"  #rounds name='rounds' >
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" class="btn btn-sm red dismissModalButton-red" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

                
                
                
                

